*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: grid;
    padding-top: 5%;
    padding-bottom: 5%;
}
.logoImage {
    width: 50vw;
    margin: 0 auto;
}
.buttons{
    margin-top: 5%;
}
.customizeList{
    margin-top:5%;
}
button {
    display: grid;
    padding: 1%;
    margin:0 auto;
}
footer {
    text-align: center;
    width:100%;
    position:absolute;
    bottom:0;
    height:2.5rem;
}

.all-resource-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
}