:root{
    --salmon: #fe938c;
    --beige:#e6b89c;
    --tan: #ead2ac;
    --light_blue: #9cafb7;
    --dark_blue: #4281a4;
}
html {
    background-color: var(--tan);
    font-family: 'Catamaran', sans-serif;
}

.app-background {
    background-color: var(--dark_blue);
    color: white;
    display: grid;
    text-align: center;
}
.description{
    font-size: 5vw;
}
button{
    font-size: 4vw;
    font-family: 'Catamaran',sans-serif;
    border-radius: 10px;
}
footer{
    font-size: 2vw;
}